/* pages/Landing/landing.css */

.landing {
    position: relative;
    background-color: black;
}

.landing .header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(236, 96, 89);
    background: linear-gradient(310deg, rgba(236, 96, 89, 1) 0%,
            rgba(255, 218, 126, 1) 28%, rgba(255, 94, 74, 1) 100%);
}


.btn-get-started {
    background-color: var(--dark-red);
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 15px 25px;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.btn-get-started:hover {
    font-size: 1.6rem;
}

.upper-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.upper-layer h1 {
    background-color: rgba(160, 46, 46, 0.448);
    color: azure;
    width: 50%;
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
}

.upper-layer h1 span {
    color: white;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-style: italic;
    font-weight: 900;
    padding: 5px;
}
